<div class="cb-section">
  <div class="cb-container">
    <p>
      <%= link_to 'Continue', "/auth/cobot", id: 'login-link', 
        class: 'btn btn--full btn--primary btn--smaller' %>
    </p>
    <p>If you are not redirected automatically, click 'Continue'.</p>
  </div>
</div>

<script type="text/javascript">
  const link = document.querySelector('#login-link');
  setupItp(link);
</script>