<h1>Welcome to Office Space</h1>

<p>This software allows you to manage offices in your coworking space. You can assign coworkers to offices and see who has rented which one.</p>

<p><%= link_to 'Sign in', "/auth/cobot" %></p>