<h1>Welcome to Office Space</h1>

<p>This software allows you to assign members to resources and see who has rented which one. Resources can be desks, offices, lockers - or anything else you like.</p>

<p><%= link_to 'Sign in', "/auth/cobot" %> with your cobot account.</p>

<p>Office Space is based on <a href="http://cobot.me">cobot</a> and only works with a cobot account</p>