<div class="cb-section">
  <div class="cb-container">
    <h1><%= @space.name %></h1>
  </div>
</div>

<div class="cb-section">
  <div class="cb-container">
    <p>
      <%= link_to 'Add Category', new_space_category_path(@space), class: 'btn' %>
      <%= link_to 'Download CSV', space_path(@space, format: :csv), class: 'btn' %>
    </p>

    <ul>
      <% @space.categories.each do |category| %>
        <li><%= link_to category.name, [@space, category] %></li>
      <% end %>
    </ul>
  </div>
</div>
