<div class="cb-section">
  <div class="cb-container">
    <h1>Welcome to Office Inventory</h1>

    <p>This Cobot add-on allows you to assign members to inventory and see who has rented which one.</p>
    <p>Inventory can be desks, offices, lockers – or anything else you like.</p>

    <p><%= link_to 'Sign in', new_session_path, class: 'btn btn--full btn--hl btn--bigger' %> with your Cobot account.</p>
  </div>
</div>
